{% extends "base.html" %}

{% block title %}DogAPI{% endblock %}

{% block content %}
<h1>DogAPI</h1>
<form method="post" action="{% url 'dogs_search' %}">
    {% csrf_token %}
    <select id="id_breeds" name="breed_id">
        {% for v in breeds %}
            <option value="{{ v.id }}">{{ v.name }}</option>
        {% endfor %}
    </select>
    <button type="submit">Rechercher</button>
</form>

{% if dogs_list %}
<h2>Liste des chiens {% if breed_name_selected %} de race "{{ breed_name_selected }}" {% endif %}</h2>
<div id="dogs_list" style="grid-template-columns: repeat(3, 1fr);">
    {% for v in dogs_list %}
    <div id="dog_result">
        <img src="{{ v.url }}" />
        <a class="save_button" href="{% url 'add_dog' %}?url={{ v.url }}">Enregistrer</a>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}