{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
<h1>Projet NoSQL</h1>
<img style="height: 225px; width: 300px;" src="https://cdn.dribbble.com/users/1201194/screenshots/7197395/media/d5d300c76b56aa290f34cfc39de99c2d.gif">
<div>
  <p>
    Le but de ce projet est de récupérer des images de chiens via une API appelé "DogAPI".<br>
    Vous pouvez enregistrer l'image que vous préférez dans les 2 bases de données : PSQL et MongoDB.
  </p>
</div>
<div>
  <div><a class="redirect_button" href="{% url 'dogs_search' %}">Essayer l'API</a></div>
</div>
{% endblock %}