/* NAVBAR */

div#navbar {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 50px;
}

nav {
  width: 500px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  transition: transform .2s;
}

nav ul li:hover {
  transform: scale(1.2);
}

nav ul li a {
  display: flex;  
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

nav ul li a:visited {
  color: black;
}

nav ul li a img {
  width: 25px;
  height: 25px;
  border: 0;
}

/* CONTENT */

div#content {
  display: flex;
  justify-content: center;
}
div#container_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: space-around;*/
  gap: 20px;
  width: 80%;
  max-height: 35vw;
  padding: 2% 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

div#container_bdd {
  display: grid;
  grid-gap: 10px;
  height: 100%;
}

div#dogs_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 10px;
  overflow: scroll;
}

div#dog_result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

div#dog_result img {
  width: 250px;
  border-radius: 5px;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

/* Button */
.save_button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.save_button:hover {
  filter: brightness(85%);
}

.remove_button {
  background-color: #f44336; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.remove_button:hover {
  filter: brightness(85%);
}

.redirect_button {
  background-color: #008CBA; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.redirect_button:hover {
  filter: brightness(85%);
}